<div class="container">
    <div class="hero-unit">
        <h1>メロディ</h1>
		<br/>
		<form class="well form-inline">
			<input type="text" class="input-small" placeholder="Email">
			<input type="password" class="input-small" placeholder="Password">
			<label class="checkbox">
				<input type="checkbox"> 忘れた?
			</label>
		</form>
        <p><%= link_to 'こどもログイン', mobile_index_path, :class=>'btn btn-success btn-large' %></p>
        <br/>
        <p><%= link_to 'おとなログイン', history_missions_path, :class=>'btn btn-primary btn-large' %></p>
    </div>
</div>
