<div data-role="page" id="index" data-theme="e"> 

		<div data-role="header"><h1>ミッションクリア</h1></div> 

<div data-role="content">おばあちゃんち<br>くりあ</div> 
		<div data-role="content">すごいね</div> 

		<div data-role="footer"><h4>フッター</h4></div> 

	</div>
