<div data-role="page" id="index"> 
	<div data-role="header"><h1>メロデイ</h1></div> 
	<div data-role="content">
		<ul data-role="listview">
		<% @missions.each do |mission|%>
			<li><%= mission.title %>
				<ul>
					<a href="<%= mobile_show_path(:mission_id => mission.id) %>" data-ajax="false" data-role="button" data-transition="slide">はじめる</a>
					<a href="/mobile/index" data-ajax="false" data-role="button" data-transition="slide">やめる</a>
				</ul>
			</li>
		<% end %>
	</div> 
	<div data-role="footer"><h4>はじめての...チャレンジ</h4></div> 
</div>
<div data-role="page" id="page2"> 
		<div data-role="header"><h1>ミッション一覧</h1></div>
		<div data-role="content">コンテンツ2</div>
		<div data-role="footer"><h4>はじめての...チャレンジ</h4></div>
</div>